.hero {
    position: relative;
    padding-block: 6rem;

    background-image: url("../assets/images/hero/pattern.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0.08;
    pointer-events: none;
    background-image: url(../assets/images/hero/pattern.png);
}

.hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--space-3xl);
    position: relative;
    z-index: 1;
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.hero__visual {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__pattern {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .08;
    z-index: 1;
}

.hero__pattern img {
    width: 100%;
    max-width: 700px;
}

.hero__image {
    position: relative;
    width: 100%;
    max-width: 500px;
    z-index: 2;
}

.hero__badge {
    display: inline-flex;
    align-self: flex-start;
    align-items: center;
    padding: .6rem 1.2rem;
    border-radius: var(--radius-full);
    background: rgba(0, 0, 0, .05);

}

.hero__buttons {
    display: inline-flex;
    gap: 5rem;
}

.hero__buttons a {
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--font-ex);
}

.hero__title {
    font-family: var(--font-secondary);
    line-height: 1.1;
    font-size: clamp(3rem, 6vw, 4.5rem);
    max-width: 10ch;
}

.hero__description {
    max-width: 35rem;
    line-height: 1.7;
    color: var(--color-text);
    font-family: var(--font-family);
}

.hero__stats {
    display: flex;
    gap: 3rem;
    background-color: rgb(42, 42, 233);
    color: var(--color-primary);
    padding: 10px;
    text-align: center;
}

.hero__stats h3 {
    color: var(--color-text);
    color: var(--color-primary);

    font-family: var(--font-ex);
}

.hero__stats p {
    font-family: var(--font-ex);

}
