.hero {
    padding-block: var(--space-3xl);
}

.hero .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--space-3xl);
}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}

.hero__visual {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__visual img {
    height: 100%;
    max-width: 500px;
    height: auto;
    display: block;
}
