.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 0.875rem;
    padding-inline: 2rem;
    background: rgba(255, 255, 255, .75);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(0, 0, 0, .08);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: var(--shadow-sm);
}

.navbar__brand {
    color: var(--color-text);
    text-decoration: none;
    font-family: var(--font-ex);
    font-weight: var(--fw-bold);
    font-size: var(--fz-xl);
}

.navbar__menu {
    display: flex;
    gap: 2.5rem;
    list-style-type: none;
}

.navbar__menu a {
    color: var(--color-text);
    text-decoration: none;
    font-size: var(--fs-base);
    font-family: var(--font-primary);
    font-weight: var(--fw-medium);

}

.navbar__actions {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}


.navbar__actions button {
    border: none;
    background: none;
    cursor: pointer;

    color: var(--color-text);
    font-size: var(--fs-base);
    font-family: var(--font-primary);
}

.navbar__signin-btn {
    color: var(--color-text);
    text-decoration: none;
    font-size: var(--fs-base);
    font-family: var(--font-primary);
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-block: var(--space-md);
}
